
.b_bg{ 
    background-color:#0A223A;
    color: white;
    position:sticky;
}
.b_btn{
    background-color:#0A223A;
    color:white;
    border-radius:5%;
    border-color:#0A223A;
}    
    

.t_color1{
    color:#0A223A;
    list-style: none;
}
li{
    list-style-type: none;
}
.h_hover:hover{
background-color:#0A223A;
color: white;
}
.i_size{
    height:10px;
}
h2{
    color:#0A223A;
    font-weight:300;
    font-size: 50px;
}
.p_sticky{
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.p_border{
    box-shadow:rgba(236, 233, 233, 0.987)1px 0px 1px 1px;
}
.f_size{
    font-weight:100;
    font-size: 22px;
    width:3000;
}
.text{

    margin-top:20px;
    font-weight: 300;
    font-size:20px;
}
.a_hover:hover{
    border-radius:10%;
    border-color: white solid 1px;
}
.s_hover:hover{
     transform: scale(1);
     border-radius:5%;
     background-color:#0A223A;
    border:solid #0A223A;
}
.nav-link:hover{
    border:1px solid white;
}
.s_hover1:hover{
    transform:scale3d(5);
    
  

}
.p_text{
    text-align: center;
    background-color: #0A223A;
    border-radius:10%;
    color: white;
}
.a_align{
    text-align: center;

}
.t_shodow{
  text-shadow: 1px 0px 0px rgba(35, 3, 105, 0.896);
  color: #0A223A;
}
.navbar-toggler{
    color: white;
    border-color: white;
}